
h1 {
	color:red;
}

body{
	background-image: url("background.jpg");
	font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	margin: 30px;
}

div.transbox {
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.6;
  filter: alpha(opacity=60);
}

div.photo {
    width: 300px; /*set the width or max-width*/
    height: 500px; /*this makes sure to maintain the aspect ratio*/
}